
.site-nav {
  display: flex;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  left: 0;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--accent-color);
}
.site-nav__link.current {
  color: var(--accent-color);
}
.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__item:first-child {
  margin-left: 93px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav__icon-tel,
.auth-nav__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}
.auth-nav__header-mail {
  margin-right: 30px;
}
